<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon aria-hidden="true" name="scan"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-router-outlet></ion-router-outlet>
</ion-tabs>
