body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: #4CAF50;
  color: white;
  padding: 20px;
}

button {
  background: #2e57aa;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background: #45a049;
}
