<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Scanner un Code-barres</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <zxing-scanner (scanSuccess)="onScanSuccess($event)" [formats]="allowedFormats"></zxing-scanner>
      <div *ngIf="scannedCode">
        <p>Code scanné : {{ scannedCode }}</p>
        <p *ngIf="productInfo">Produit : {{ productInfo.name }} ({{ productInfo.code }})</p>
      </div>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <mat-error *ngIf="error">{{ error }}</mat-error>
    </mat-card-content>
  </mat-card>
</div>